
th {
	background-color: #eaf1fc;
	text-align: center;
	border: solid 1px black;
}

td {
	text-align: center;
	border: solid 1px black;
}

table {
	padding: 1px;
	border: solid 1px black;
}

.card {
	width: 60%;
	margin: auto;
	box-shadow: 0 0 20px black;
}

.card.login-card {
	width: 40%;
	margin: auto;
	box-shadow: 0 0 20px black;
}

.padding {
	padding: 2%;
}

.info {
	color: red;
}

#logout_button {
	position: absolute;
	top: 1%;
	right: 3%;
}