{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron">
		<h1>The Nerlekar Bank <small>Pvt. Ltd.</small></h1> 
		<p>We Prosper in Your Prosperity</p> 
	</div>
	<div class = "padding">
		<div class="card login-card">
			<div class="card-header">User Login:</div>
			<div class="card-body">
				<form method = "POST">
				
					{% csrf_token %}
					{{form.as_p}}
					<button class="btn btn-primary" type="submit">{{button}}</button>
				
				</form>
			</div>
			<div class="card-footer">
				{% if message %}
					<br><span style="color:red;">{{message}}</span><br>
				{% endif %}
				<small>Don't have an account yet? <a href = "/sign_up">Sign Up!</a></small>	
				</div>
		</div>
	</div>
{% endblock %}