{% extends 'base.html' %}

{% block scripts %}
	{% load static %}
	<script src = "{% static 'scripts/homepage.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="padding">
		<h1>Welcome, {{username}}!</h1>
		<br>
		{% if accounts %}	
			<h2>My Accounts: </h2><br>
			<table>
				<tr><th>Sr. No.</th><th>Account Number</th><th>Balance Available</th></tr>
				{% for account in accounts %}
					<tr><td>{{forloop.counter}}</td><td>{{account.account_number}}</td><td id = "balance_{{forloop.counter}}">{{account.account_balance}}</td></tr>
				{% endfor %}
				<tr><th>Total Holdings:&nbsp </th><th id = "total_holdings"></th></tr>
			</table>
		{% else %}
			<h2>You have not opened an account yet. you may apply for it <a href="">here</a>.</h2>
		{% endif %}
		<br>
		
		<form action = "/logout" method = "POST">
			{% csrf_token %}
			<button class="btn btn-outline-danger" type = "submit">{{button}}</button>
		</form>
	</div>
{% endblock %}