{% extends 'base.html' %}

{% block scripts %}
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<!--<link rel="stylesheet" href="/resources/demos/style.css">-->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>
		$(function(){
			$( ".datepicker" ).datepicker({
				changeMonth: true,
				changeYear: true
			});
		});
	</script>
	{% load static %}
	<script src = "{% static 'scripts/homepage.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="padding">
		<h1>Welcome, {{username}}!</h1>
		
		<ul class="nav nav-tabs">
		  <li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#acc_balance_tab">View Balance</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#transfer_tab">Transfer Funds</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#statement_tab">Get Statement</a>
		  </li>
		</ul>
			
		<div class="tab-content">	
			<div class="tab-pane container active" id="acc_balance_tab">
				<br>
				{% if accounts %}	
					<h2>My Accounts: </h2><br>
					<table>
						<tr><th>Sr. No.</th><th>Account Number</th><th>Balance Available</th></tr>
						{% for account in accounts %}
							<tr><td>{{forloop.counter}}</td><td>{{account.account_number}}</td><td id = "balance_{{forloop.counter}}">{{account.account_balance}}</td></tr>
						{% endfor %}
						<tr><td></td><th>Total Holdings:&nbsp </th><th id = "total_holdings"></th></tr>
					</table>
				{% else %}
					<h2>You have not opened a savings account yet. you may apply for it <a href="/request_account">here</a>.</h2>
				{% endif %}
				<br>
				
				
			</div>
			
			<div class="tab-pane container fade" id="transfer_tab">
				<br>
				{% if accounts %}
					<h2>Choose an account to transfer from:</h2><br>
						<div id="accordion">
							{% for account in accounts %}
								<button class="btn btn-outline-dark btn-block" data-toggle="collapse" data-target="#form_{{account.account_number}}">{{account.account_number}}</button><br>
								<div class="padding collapse" id="form_{{account.account_number}}" data-parent="#accordion">
									<div class = "card">
										<div class = "card-header"><h3>Transfer Funds From Account {{account.account_number}}:</h3></div>
										<div class = "card-body">
											<form action="/transact" method="POST">
												{% csrf_token %}
												<input hidden value="{{account.account_number}}" name="from_account">
												{{transaction_form.as_p}}
												<button type = "submit" class = "btn btn-primary">Transfer Funds</button>
											</form>
										</div>
										<div class="card-footer"><span class="info">Please Note: A Transaction Once Initiated Cannot be Reverted/ Stopped Without Approval From the Beneficiary.</span></div>					
									</div>
								</div>
							{% endfor %}
						</div>
				{% endif %}
			</div>
			
			<div class="tab-pane container fade" id="statement_tab">
				<br>
				{% if accounts %}
					<h2>Choose an account to get statement for:</h2><br>
						<div id="accordion_statements">
							{% for account in accounts %}
								<button class="btn btn-outline-dark btn-block" data-toggle="collapse" data-target="#form_{{account.account_number}}_statements">{{account.account_number}}</button><br>
								<div class="padding collapse" id="form_{{account.account_number}}_statements" data-parent="#accordion_statements">
									<div class = "card">
										<div class = "card-header"><h3>Get Statement for Account {{account.account_number}}:</h3></div>
										<div class = "card-body">
											<form action="/get_statement" method="POST">
												{% csrf_token %}
												<input hidden value="{{account.account_number}}" name="for_account">
												<p><label for="from_account">From Date:&nbsp</label><input name="from_date" class="datepicker" id="from_date_for_account_{{account.account_number}}"></p>
												<p><label for="to_account">To Date:&nbsp</label><input name="to_date" class="datepicker" id="to_date_for_account_{{account.account_number}}"></p>
												<button type = "submit" class = "btn btn-primary">Get Statement</button>
											</form>
										</div>
										<!--<div class="card-footer"><span class="info">Please Note: A Transaction Once Initiated Cannot be Reverted/ Stopped Without Approval From the Beneficiary.</span></div>-->					
									</div>
								</div>
							{% endfor %}
						</div>
				{% endif %}
			</div>
			
		</div>
		
		<form action = "/logout" method = "POST" id="logout_button">
			{% csrf_token %}
			<button class="btn btn-outline-danger" type = "submit">{{button}}</button>
		</form>
		
	</div>
{% endblock %}

