{% extends 'base.html' %}

{% block scripts %}
	{% load static %}
	<script src = "{% static 'scripts/homepage.js' %}"></script>
{% endblock %}

{% block content %}
	<div class="padding">
		<h1>Welcome, {{username}}!</h1>
		
		<ul class="nav nav-tabs">
		  <li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#acc_balance_tab">View Balance</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#transfer_tab">Transfer Funds</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#statement_tab">Get Statement</a>
		  </li>
		</ul>
			
		<div class="tab-content">	
			<div class="tab-pane container active" id="acc_balance_tab">
				<br>
				{% if accounts %}	
					<h2>My Accounts: </h2><br>
					<table>
						<tr><th>Sr. No.</th><th>Account Number</th><th>Balance Available</th></tr>
						{% for account in accounts %}
							<tr><td>{{forloop.counter}}</td><td>{{account.account_number}}</td><td id = "balance_{{forloop.counter}}">{{account.account_balance}}</td></tr>
						{% endfor %}
						<tr><th>Total Holdings:&nbsp </th><th id = "total_holdings"></th></tr>
					</table>
				{% else %}
					<h2>You have not opened a savings account yet. you may apply for it <a href="">here</a>.</h2>
				{% endif %}
				<br>
				
				
			</div>
			
			<div class="tab-pane container fade" id="transfer_tab">
				<br>
				{% if accounts %}
					<h2>Choose an account to transfer from:</h2><br>
					{% for account in accounts %}
						<button class="btn btn-light btn-block" data-toggle="collapse" data-target="#form_{{account.account_number}}">{{account.account_number}}</button>
						<div class="padding collapse" id="form_{{account.account_number}}">
							<div class = "card">
								<div class = "card-header"><h3>Transfer Funds From Account {{account.account_number}}:</h3></div>
								<div class = "card-body">
									<form action="/transact" mehtod="POST">
										{% csrf_token %}
										<input hidden value="{{account.account_number}}" name="from_account">
										{{transaction_form.as_p}}
										<button type = "submit" class = "btn btn-primary">Transfer Funds</button>
									</form>
								</div>
								<div class="card-footer"><span class="info">Please Note: A Transaction Once Initiated Cannot be Reverted/ Stopped Without Approval From the Beneficiary.</span></div>					
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
			
			<div class="tab-pane container fade" id="statement_tab">
			
			</div>
			
		</div>
		
		<form action = "/logout" method = "POST" id="logout_button">
			{% csrf_token %}
			<button class="btn btn-outline-danger" type = "submit">{{button}}</button>
		</form>
		
	</div>
{% endblock %}