{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
	<h1 style="width:fit-content;" data-toggle="tooltip" data-placement="right" title="This is a mock banking web application developed by Ameya Nerlekar for demonstration purposes to potential employers.">The Nerlekar Bank <small>Pvt. Ltd.</small></h1> 
	<p>We Prosper in Your Prosperity</p> 
</div>

<div class="padding">

	<h3>Account Holder: {{owner}}</h3>
	<h3>Account Number: {{for_account}}</h3>
	<!--<h3>Opening Balance as on {{from_date}}: </h3>
	<h3>Closing Balance (Available as on {{to_date}}): </h3>-->
	<br>
	<table>
		<tr><th>&nbspTime of Transfer&nbsp</th><th>&nbsp&nbspTo&nbsp&nbsp</th><th>&nbspFrom&nbsp</th><th>&nbspParticulars&nbsp</th><th>&nbspRemarks&nbsp</th><th>&nbspDebit&nbsp</th><th>&nbspCredit&nbsp</th></tr>
		{% for transaction in transactions %}
			<tr>
				<td>{{transaction.time}}</td>
				{% if transaction.from_account == for_account %}
					<td>{{transaction.beneficiary_account}}</td>
					<td> - </td>
					<td>{{transaction.mode}}</td>
					<td>{{transaction.remarks}}</td>
					<td>-{{transaction.transaction_amount}}</td>
					<td> - </td>
				{% else %}
					<td> - </td>
					<td>{{transaction.from_account}}</td>
					<td>{{transaction.mode}}</td>
					<td>{{transaction.remarks}}</td>
					<td> - </td>
					<td>+{{transaction.transaction_amount}}</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
</div>

<form action = "/logout" method = "POST" id="logout_button">
	{% csrf_token %}
	<button class="btn btn-outline-danger" type = "submit">Sign Out</button>
</form>

{% endblock %}